body{
	background-image:url("../images/background.jpg");
	background-size: 100% auto;
	font-family:Impact, Charcoal, sans-serif;
	color:white;
}

#wrapper{
	width:750px;
	margin:0 auto;
	overflow:auto;
}

header{
	overflow:auto;
}

#oscar-left{
	zoom:3%;
	border:100px solid white;
	margin:250px;
	float:left;
}

#header-text{
	float:right;
	margin-right:35px;
}

h1{
	font-size:110px;
}

h2{
	font-size:32px;
}

#main{
	overflow:auto;
	padding:50px 0;
}

#oscar-right{
	zoom:3%;
	border:100px solid white;
	margin:250px;
	float:right;
}

#main-right{
	width:310px;
	height:360px;
	float:right;
	text-align:center;
	border: 2px dotted white;
	padding:20px;
}

#main-left{
	width:310px;
	height:360px;
	float:left;
	border: 2px dotted white;
	padding:20px;
}

#left-image{
	width:100%;
	height:100%;
}

div{
	font-size:18px;
}

#intro{
	padding-bottom:20px;
}

#wins-title{
	padding: 5px;
}

#wins{
	padding-bottom:10px;
}

#losses-title{
	padding:5px;
}

#losses{
	padding-bottom:20px;
}

#word-title{
	padding:5px;
}

#word{
	letter-spacing:10px;
	padding-bottom:25px;
	font-size:30px;
	padding-left:10px;
	text-transform: uppercase;
}

#num-guesses-title{
	padding:5px;
}

#num-guesses{
	padding-bottom:20px;
}

#letters-title{
	padding:5px;
}

#letters{
	text-transform: uppercase;
}